/*
 * Dropit v1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* These styles assume you are using ul and li */
.dropdownMenus{
	text-align:center;
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}

.dropdownMenus:after {
		content: ""; clear: both; display: block;
	}
	
	.dropdownMenus li {
	float: left;
}
	,dropdownMenus li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		.dropdownMenus li:hover a {
			color: #fff;
		}
	
	.dropdownMenus li a {
		display: block; padding: 25px 40px;
		color: #757575; text-decoration: none;
	}
.dropdownMenus ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: relative; top: 100%;
}

	.dropdownMenus ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		.dropdownMenus ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			.dropdownMenus ul li a:hover {
				background: #4b545f;
			}
.dropit {
    list-style: none;
	padding: 0;
	margin: 0 10px 0 0;
	display: inline-block;
	text-align:left;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }

.dropit-submenu li a:hover{
	color:red;	
}
.loginInfo{
	height: 30px;
    width: 100%;	
}