#Linkbar {
        text-align:center;
        font-family: Verdana, Arial, Sans Serif;
        font-size:20px;
        font-weight:bold;
        padding:10px 5px 10px 5px;
        background-color: Gainsboro;
        line-height:11px;
        border-bottom: 1px solid black;
        color: Black;
        }
.subheader {
        text-align:right;
        font-size:10px;
        font-weight:normal;
                   }
#Content {
        border: 2px solid black;
        background-color:gainsboro;
        padding: 10px;
         }
body {
        font-family: Tahoma, Verdana, Arial, Sans Serif;
        font-size:14px;
        background-color:White;
        text-align: center;
        }
A.header {color: Black;
        text-decoration:none;
}
A {color: Black;  text-decoration:none;}
Font {font-family: Tahoma, Verdana, Arial, Sans Serif; font-size: 5px; color: #000000;}
A.manager
{
        color: Black;

        font-weight: bold;
}

.PrintOnly {display: none}

.Unavailable
{
        font-size:12px;
}

A:link
{
	color: Blue;
}

.SpecialLink
{
        color: Blue;
	text-decoration:underline;
}

A:visited
{
	color: Purple;
}

.footer
{
        margin: 10px 0px 0px 0px;
        border-top: solid 1px black;
        padding: 5px;
}
table.list
{

        background-color:Gainsboro;
        text-align: center;

}


td.cell
{
        border: solid 1px black;
        text-align: center;
        margin:5,5,5,5;
        font-size: 11px;
}
td.subrequest
{
        border: solid 1px black;
        text-align: center;
        margin:5,5,5,5;
        font-size: 11px;
        background-color:Orange;
}
td.subfilled
{
        border: solid 1px black;
        text-align: center;
        margin:5,5,5,5;
        font-size: 11px;
        background-color:LightGreen;
}
td.day
{
        font-size: 11px;
        text-align:center;
        border:solid 1px black;
        background-color:LightSteelBlue;

}
table.sub-manager
{
        background-color:Gainsboro;
        text-align: center;
        border:solid 1px black;
        border-collapse: collapse;
        width: 50%;
}
td.manager-header
{

                font-weight: bold;
                border-bottom: solid 1px black;
                padding: 5px 5px 5px 5px;

}
td.manager
{
               font-size: 12px;
                font-weight: normal;
                border-bottom: solid 1px black;
                border-right: solid 1px black;
                padding: 5px 5px 5px 5px;
}
td.time
{
        font-size: 11px;
        text-align:right;
        background-color:LightSteelBlue;
        border: solid 1px black;
        text-align: center;
}
table.single
{

        margin: 5px;
        background-color:Gainsboro;
        text-align:center;
        border: 1px solid black;
        font-size: 14px;

}
td.header
{
        font-size: 16px;
        border-bottom: solid 1px black;
        background-color: LightSteelBlue;
        font-weight: bold;
}
table.login
{
        border-collapse: collapse;
        border: solid 1px black;
        width:75%;

}
table.loginMain
{
        border-collapse: collapse;
        border: solid 1px black;
        width:35%;

}
table.loginWidth
{
        border-collapse: collapse;
        border: solid 1px black;
        width:95%;

}

td.loginWidth
{
        text-align: center;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;
        padding: 5px 5px 5px 5px;
}

table.OutlineTable
{
border-collapse: collapse;
        border: solid 1px black;
}

table.Admin
{
	border-collapse: collapse;
        border: solid 1px black;
}

table.Admin tr
{
        font-size: 12px;
}

table.Admin td
{
       border-collapse: collapse;
       border: solid 1px black;
}

table.haveSubmit tr
{
        font-size: 12px;
}

tr.BoldText
{
        font-weight:bold;
}

td.BoldText
{
        font-weight:bold;
        background-color: yellow;
}

tr.BoldTextRed
{
        font-weight:bold;
        color: red;
}

td.BoldTextRed
{
        font-weight:bold;
        color: red;
}

td.TotalCell
{
        background-color: yellow;
}

tr.BoldHeader
{
        font-weight:bold;
        font-size: 14px;
}

td.Disable
{
       background-color: gray;
       border-collapse: collapse;
       border: solid 1px black;
}

td.login-header
{
        background-color:LightSteelBlue;
        border-bottom: solid 1px black;
        font-size:14px;
        text-align: center;
        font-weight:bold;
        padding: 10px 5px 0px 5px;
}
.login-subheader
{
        float:right;
        font-size:9px;
        font-weight:normal;
}
td.login-left
{
        text-align: right;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;

}
td.login-right
{
        text-align: left;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;
}
td.login
{
        text-align: center;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;
        padding: 5px 5px 5px 5px;
}
td.loginMain
{
        text-align: center;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;
        padding: 5px 5px 5px 5px;
}
.warning
{
        font-size: 14px;
        font-weight:bold;
        background-color:red;
}
.userinfo
{
        font-size: 15px;
        float:left;
}
.DisableInput
{
        width:62px;
}

.Error
{
          color:red;
}
.TextInput
{
        width:100px;
        text-align: right;
}
/***FORM STUFF****//* Basic Grey */.basic-grey {    width: 600px;    margin-right: auto;    margin-left: auto;    background: #EEE;    padding: 20px 30px 20px 30px;    font: 12px Georgia, "Times New Roman", Times, serif;    color: #888;    text-shadow: 1px 1px 1px #FFF;    border:1px solid #DADADA;    overflow:hidden;}.basic-grey h1 {    font: 25px Georgia, "Times New Roman", Times, serif;    padding: 0px 0px 10px 40px;    display: block;    border-bottom: 1px solid #DADADA;    margin: -10px -30px 30px -30px;    color: #888;}.basic-grey h1>span {    display: block;    font-size: 11px;}.basic-grey label {    margin: 0px 0px 5px;    float: left;    width: 100%}.basic-grey label>span {    float: left;    width: 150px;    text-align: right;    padding-right: 10px;    color: #888;}.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea,.basic-grey select{    border: 1px solid #DADADA;    color: #888;    height: 24px;    margin-bottom: 16px;    margin-right: 6px;    margin-top: 2px;    outline: 0 none;    padding: 3px 3px 3px 5px;    width: 70%;    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;}.basic-grey select {    background: #FFF url('down-arrow.png') no-repeat right;    background: #FFF url('down-arrow.png') no-repeat right);    appearance:none;    -webkit-appearance:none;     -moz-appearance: none;    text-indent: 0.01px;    text-overflow: '';    width: 72%;    height: 30px;}.basic-grey textarea{    height:100px;}.basic-grey .button {    background: #E48F8F;    border: none;    padding: 10px 25px 10px 25px;    color: #FFF;}.basic-grey .button:hover {    background: #CF7A7A}
.shortWidth{	width: 30% !important;}.tinyWidth{	width: 20%;	float: left;	text-align:left;}.message{	width: 30%;	float:left;	margin: 5px 0;	text-align:left;}.nav{	margin-bottom: 10px;	}.userInfo{	margin: 0 5px;}.centerInfoDiv{	width: 80%;}.centerInfoTable{	width: 100%;	border-collapse:collapse;}.centerText{	text-align:center;}.trEven{	background: url("images/transDark10.png") repeat;}.centerInfoTable tbody tr:hover{	background: url("images/trans25.png") repeat;}