
#Linkbar {
        text-align:center;
        font-family: Verdana, Arial, Sans Serif;
        font-size:20px;
        font-weight:bold;
        padding:10px 5px 10px 5px;
        background-color: Gainsboro;
        line-height:11px;
        border-bottom: 1px solid black;
        color: Black;
        }
.subheader {
        text-align:right;
        font-size:10px;
        font-weight:normal;
                   }
#Content {
        border: 2px solid black;
        background-color:gainsboro;
        padding: 10px;
         }
body {
        font-family: Tahoma, Verdana, Arial, Sans Serif;
        font-size:14px;
        background-color:White;
        text-align: center;
        }
A.header {color: Black;
        text-decoration:none;
}
A {color: Black;  text-decoration:none;}
Font {font-family: Tahoma, Verdana, Arial, Sans Serif; font-size: 5px; color: #000000;}
A.manager
{
        color: Black;

        font-weight: bold;
}

.nav {display: none}
.PrintOnly {display: block}

.Unavailable
{
        font-size:12px;
}
.page-break { display:block; page-break-before:always; }

A:link
{
	color: Blue;
}

.SpecialLink
{
        color: Blue;
	text-decoration:underline;
}

A:visited
{
	color: Purple;
}

.footer
{
        margin: 10px 0px 0px 0px;
        border-top: solid 1px black;
        padding: 5px;
}
table.list
{

        background-color:Gainsboro;
        text-align: center;

}


td.cell
{
        border: solid 1px black;
        text-align: center;
        margin:5,5,5,5;
        font-size: 11px;
}
td.subrequest
{
        border: solid 1px black;
        text-align: center;
        margin:5,5,5,5;
        font-size: 11px;
        background-color:Orange;
}
td.subfilled
{
        border: solid 1px black;
        text-align: center;
        margin:5,5,5,5;
        font-size: 11px;
        background-color:LightGreen;
}
td.day
{
        font-size: 11px;
        text-align:center;
        border:solid 1px black;
        background-color:LightSteelBlue;

}
table.sub-manager
{
        background-color:Gainsboro;
        text-align: center;
        border:solid 1px black;
        border-collapse: collapse;
        width: 50%;
}
td.manager-header
{

                font-weight: bold;
                border-bottom: solid 1px black;
                padding: 5px 5px 5px 5px;

}
td.manager
{
               font-size: 12px;
                font-weight: normal;
                border-bottom: solid 1px black;
                border-right: solid 1px black;
                padding: 5px 5px 5px 5px;
}
td.time
{
        font-size: 11px;
        text-align:right;
        background-color:LightSteelBlue;
        border: solid 1px black;
        text-align: center;
}
table.single
{

        margin: 5px;
        background-color:Gainsboro;
        text-align:center;
        border: 1px solid black;
        font-size: 14px;

}
td.header
{
        font-size: 16px;
        border-bottom: solid 1px black;
        background-color: LightSteelBlue;
        font-weight: bold;
}
table.login
{
        border-collapse: collapse;
        border: solid 1px black;
        width:75%;

}
table.loginMain
{
        border-collapse: collapse;
        border: solid 1px black;
        width:35%;
}

table.loginWidth
{
        border-collapse: collapse;
        border: solid 1px black;
        width:95%;

}

td.loginWidth
{
        text-align: center;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;
        padding: 5px 5px 5px 5px;
}

table.OutlineTable
{
border-collapse: collapse;
        border: solid 1px black;
}

table.Admin
{
	border-collapse: collapse;
        border: solid 1px black;
}

table.Admin tr
{
        font-size: 12px;
}

table.Admin td
{
       border-collapse: collapse;
       border: solid 1px black;
}

tr.BoldText
{
        font-weight:bold;
}

td.BoldText
{
        font-weight:bold;
        background-color: yellow;
}

tr.BoldTextRed
{
        font-weight:bold;
        color: red;
}

td.BoldTextRed
{
        font-weight:bold;
        color: red;
}

td.TotalCell
{
        background-color: yellow;
}

tr.BoldHeader
{
        font-weight:bold;
        font-size: 14px;
}

table.haveSubmit tr
{
        font-size: 12px;
}

td.Disable
{
       background-color: gray;
       border-collapse: collapse;
       border: solid 1px black;
}

td.login-header
{
        background-color:LightSteelBlue;
        border-bottom: solid 1px black;
        font-size:14px;
        text-align: center;
        font-weight:bold;
        padding: 10px 5px 0px 5px;
}
.login-subheader
{
        float:right;
        font-size:9px;
        font-weight:normal;
}
td.login-left
{
        text-align: right;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;

}
td.login-right
{
        text-align: left;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;
}
td.login
{
        text-align: center;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;
        padding: 5px 5px 5px 5px;
}
td.loginMain
{
        text-align: center;
        font-size:11px;
        font-weight:bold;
        background-color:WhiteSmoke;
        padding: 5px 5px 5px 5px;
}
.warning
{
        font-size: 14px;
        font-weight:bold;
        background-color:red;
}
.userinfo
{
        font-size: 10px;
        float:left;
}
.DisableInput
{
        width:62px;
}

.Error
{
          color:red;
}
.TextInput
{
        width:100px;
        text-align: right;
}

